[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
flake8 = "*"
pylint = "*"
black = "==19.10b0"
isort = "*"
twine = "*"
readme-renderer = {extras = ["md"],version = "*"}

[packages]
coverage = "*"

[requires]
python_version = "3.8"
